# Conexión a MongoDB Atlas para el Dojo Ying Yang
# Reemplaza <TU_PASSWORD> por la contraseña de tu usuario de MongoDB Atlas (davidartaviarodriguez_db_user)
MONGODB_URI=mongodb+srv://davidartaviarodriguez_db_user:<TU_PASSWORD>@kmadb.jodngjz.mongodb.net/yingyag_web_db?retryWrites=true&w=majority
MONGODB_DB=yingyag_web_db

# Google OAuth Credentials (para inicio de sesión de alumnos)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=dojo_yingyang_secret_key_super_segura
